<%= form_tag people_path, :method => 'get' do %>
  <p><img src="/images/lupa.png" width="20">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<h1>Listing people</h1>
<table>
  </thead>

  <tbody>
	<% if @people.empty? %>
		<p> Não existem utilizadores com esse nome </p>
	<% else %>
    <% @people.each do |person| %>
      <tr>
		<td> <%= link_to (image_tag person.avatar.url, :class =>"imgOtherUser", :alt => "user img"), person %> </td>
        <td>
          <%= link_to person.name, person %><br>
          <%= person.city %>   <br>
          <%= person.birthday_date %>
        </td>
        <td><%= link_to 'Editar', edit_person_path(person) %></td>
      </tr>
    <% end %>
	<% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Person', new_person_path %>
