<h1>Listing people</h1>

<table>
  <thead>
    <tr>
	  <th>Avatar</th>
      <th>Detalhes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
		<td> <%= link_to (image_tag person.avatar.url, :class =>"imgOtherUser", :alt => "user img"), person %> </td>
        <td>
          <%= link_to person.name, person %><br>
          <%= person.city %>   <br>
          <%= person.birthday_date %>
        </td>
        <td><%= link_to 'Ver', person %></td>
        <td><%= link_to 'Editar', edit_person_path(person) %></td>
        <td><%= link_to 'Apagar', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Person', new_person_path %>
