<%=form_tag people_path, :method => :get do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<h1>Listing people</h1>

<table>
  <thead>
    <tr>
	  <th>Avatar</th>
      <th>Detalhes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
		<td> <%= link_to (image_tag person.avatar.url(:thumb), :class =>"imgOtherUser", :alt => "user img"), person %> </td>
        <td>
          <%= link_to person.name, person %><br>
          <%= person.city %>   <br>
          <%= person.birthday_date %>
        </td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Person', new_person_path %>
