<% if user_signed_in? %>

<%=form_tag articles_path, :method => :get do %>
<p>
	<img src="images/lupa.png" width="18"/>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
            <% @articles.each do |article| %>
                        <tr>
						<td>
						<h3>
						  <%= article.article_title %>
						</h3>

						<div style="float:left">
						  <%= image_tag article.attachment.url(:thumb) %>
						</div>
						<div>
						  <%= article.article_text %>
						</div>

						<div style="clear: left">
						  <strong>Autor:</strong>
						  <%= image_tag Person.find(article.user_id).avatar(:tiny) %>
						  <%= link_to Person.find(article.user_id ).name, Person.find(article.user_id) %>
						</div></td>
						</tr>
                      <tr><td>
					  <% if (Person.find(current_user.id).id == article.user_id) %>
					  <%= link_to 'Ver', article %>
                      <%= link_to 'Editar', edit_article_path(article) %>
                      <%= link_to 'Apagar', article, method: :delete, data: { confirm: 'Tem a certeza?' } %>
					  </td>
                      </tr>
                       <% end %>
					   <tr><td><hr/></td></tr>
            <% end %>
	  </tbody>
</table>
<br>
<%= link_to 'Novo Artigo', new_article_path %>
<%else %>
<p> Faça <%= link_to 'login', new_user_session_path %> ou <%= link_to 'registe-se', new_user_registration_path %> para visualizar os seus artigos </p>
<% end %>