<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.attachment.url %>
</p>

<p>
  <strong>Article title:</strong>
  <%= @article.article_title %>
</p>

<p>
  <strong>Article text:</strong>
  <%= @article.article_text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
