<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :enterprise_id %><br>

    <% e_array = Array.new %>
    <% Enterprise.all.each do |e| %>
        <% e_array.push( [e.name,e.id] )%>
    <% end %>
    <%= options_for_select(e_array) %> <%= f.select :enterprise_id, options_for_select(e_array)%>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :begin %><br>
    <%= f.datetime_select( :begin , :discard_hour => true, :discard_minute => true, :start_year => Time.now.year-100, :end_year => Time.now.year)%>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select( :end , :discard_hour => true, :discard_minute => true, :start_year => Time.now.year-100, :end_year => Time.now.year)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
