<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @contact.user2_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
