<h1>Listing abilities</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @abilities.each do |ability| %>
      <tr>
        <td><%= ability.user_id %></td>
        <td><%= ability.name %></td>
        <td><%= link_to 'Show', ability %></td>
        <td><%= link_to 'Edit', edit_ability_path(ability) %></td>
        <td><%= link_to 'Destroy', ability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability', new_ability_path %>
