<h1>Lista de empresas</h1>


<table>
  <thead>
  <tr>
    <th>Avatar</th>
    <th>Detalhes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @enterprises.each do |enterprise| %>
      <tr>
        <td>
          <%#TODO AVATAR EMPRESA link_to (image_tag enterprise.avatar.url, :class =>"imgOtherUser", :alt => "user img"), enterprise %>
          AVATARRRRRRRRR
        </td>
        <td>
          <%= link_to enterprise.name, enterprise %><br>
          <%#TODO SLOGAN enterprise.slogan %>  SLOOOOGAN <br>
          <%= enterprise.foundation %>  </td>
        <td><%= link_to 'Show', enterprise %></td>
        <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
        <td><%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Enterprise', new_enterprise_path %>
