<%=form_tag enterprises_path, :method => :get do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<h1>Lista de empresas</h1>

<p>Tem um pequeno negocio e gostava de aumentar a sua visibilidade? <%= link_to "Crie já uma página", new_enterprise_path %> personalizavel para a sua empresa!</p>
<%= link_to 'New Enterprise', new_enterprise_path %>

<table>
  <thead>
  <tr>
    <th>Avatar</th>
    <th>Detalhes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @enterprises.each do |enterprise| %>
      <tr>
        <td>
          <%= link_to (image_tag enterprise.attachment.url(:thumb),  :class =>"imgUser", :alt => "enterprise img"), enterprise%>
        </td>
        <td>
          <%= link_to enterprise.name, enterprise %><br>
          <%= enterprise.slogan %>
          <%= enterprise.foundation %>  </td>
        <td><%= link_to 'Show', enterprise %></td>
        <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
        <td><%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>


