<p id="notice"><%= notice %></p>


<div id="topUser" class="articleBody" >
  <%= image_tag @enterprise.attachment.url(:profile),  :class =>"imgUser", :alt => "user img"%>
  <h1 id="articleTitle"><%= @enterprise.name %></h1>
  <p><%= @enterprise.slogan %></p>

  <%= link_to 'Edit', edit_enterprise_path(@enterprise) %>
</div>
<div id="pessoal" class="articleBody">
  <h2>História</h2>
  <p><%= @enterprise.history %></p>
  <h3>Data da fundação</h3>
  <p><%= @enterprise.foundation.strftime("%d/%m/%Y") %></p>
  <h2>Contactos</h2>
  <h3>Endereço na Web</h3>
  <a href="http://<%= @enterprise.website %>"> <%= @enterprise.website %></a> <!-- #TODO Isto não pode ficar assim, senão se houver um link ja com o protocolo, ou com outro diferente isto dá barraca! -->
  <h3>Email</h3>
  <p><%= @enterprise.email %></p>
  <h3>Telefone</h3>
  <p><%= @enterprise.phone %></p>
  <h3>Morada</h3>
  <p><%= @enterprise.address %></p>
</div>
<hr>
<div id="profissional" class="articleBody">
  <h2>Áreas e Projectos</h2>
  <h3>Áreas de especialização</h3>
  <p><%= @enterprise.areas %></p>
  <h3>Projectos desenvolvidos</h3>
  <p><%= @enterprise.projectos %></p>
</div>
<hr >
<div id="contactos" class="articleBody">
  <h2>Colaboradores</h2>
  <h3>Administrador da página</h3>

  <div class="divContacto">
    <%= link_to (image_tag Person.find(@enterprise.admin_id).avatar.url(:smaller), :class =>"imgOtherUser", :alt => "user img"), Person.find(@enterprise.admin_id)%>
    <p class="nameOtherUser"> <%= link_to Person.find(@enterprise.admin_id).name, Person.find(@enterprise.admin_id) %></p>
  </div>
  <h3>Funcionarios</h3>


  <div id="userContactos">
    <%if @workers.size==0 %>
        <p>De momento não tem nenhum funcionário.</p>
    <% else %>
        <% @workers.each do |w| %>
            <div class="divContacto">
              <a href="profile.html?user=">
                <%= link_to (image_tag Person.find(w.user_id).avatar.url, :class =>"imgOtherUser", :alt => "user img"), Person.find(w.user_id)%>
                <p class="nameOtherUser"> <%= link_to Person.find(w.user_id).name, Person.find(w.user_id) %></p>
              </a>
            </div>
        <% end %>
    <% end %>
    <p class="verMais">Ver mais</p>                                                                                                                <!-- TODO meter condiçao para condicionar a 8 amigos-->
  </div>
</div>