<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @course.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Univ:</strong>
  <%= @course.univ %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |
<%= link_to 'Edit profile', edit_person_path(current_user)%>
